<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon.ico" rel="icon">

  <title>About me</title>

<link href="./static/main.d8e0d294.css" rel="stylesheet"></head>

<body class="">

<!-- Add your content of header -->

<div class="background-color-layer"
></div>
<main class="content-wrapper">
  <header class="white-text-container section-container">
    <div class="text-center">
      <h1>Anastasia Komissarova</h1>
      <h2>System analyst</h2>
      <p>
        <a class="fa-icon fa-icon-2x" href="https://t.me/ankomissarova" title="">
          <i class="fa fa-telegram"></i>
        </a>

        <a class="fa-icon fa-icon-2x" href="https://www.linkedin.com/in/anastasia-komissarova-5837a111b" title="">
          <i class="fa fa-linkedin"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://github.com/aekomissarova" title="">
          <i class="fa fa-github"></i>
        </a>

        <a class="fa-icon fa-icon-2x" href="static/assets/Resume.pdf" download = "Komissarova_resume.pdf" title="">
          <i class="fa fa-download"></i>
        </a>

      </p>
    </div>
  </header>



<!-- Add your site or app content here -->
 
 <div class="container">
   <div class="row">
     <div class="col-xs-12">

        <div class="card">
          <div class="card-block">
            <h2>About me</h2>
            <div class="row">
              <div class="col-md-4">
                <p><img src="./static/assets/images/my_photo.jpeg" class="img-responsive" alt=""></p>
              </div>
              <div class="col-md-8">

              <p>6+ years experience in System Analysis</p>
                <p> Create comprehensive and unambiguous documentation that outlines requirements of stakeholders, understandable for dev and QA teams</p>
                <p>Tech-savvy, agile, and able to quickly adopt new tech tools</p>
                <p>Interest in learning about new business domains</p>

              </div>
            </div>
          </div>
        </div>


        <div class="card">
          <div class="card-block">
            <h2>Work</h2>
            <div class="work-experience">
              <small class="date">Jun 2015 - Aug 2015</small>
              <h3 class="h5 date-title">Technical Support Specialist - <a href="https://en.wikipedia.org/wiki/VK_(company)" title="Create professionnal website">LLC Mail.Ru Group</a></h3>
              <p> </p>
            </div>

            <div class="work-experience">
              <small class="date">Jul 2015 - Jan 2017</small>
              <h3 class="h5 date-title">Analyst - <a href="http://www.platformasoft.ru" title="">LLC Platform Soft</a></h3>
              
              <p></p>
            </div>

            <div class="work-experience">
              <small class="date">Jan 2017 - Jul 2018</small>
              <h3 class="h5 date-title">Lead System Analyst - <a href="https://www.effective-group.ru" title="">LLC Effective Technologies</a></h3>

              <p></p>
            </div>

            <div class="work-experience">
              <small class="date">Jul 2018 - Jan 2022</small>
              <h3 class="h5 date-title">Senior System Analyst - <a href="https://www.ptsecurity.com/ru-ru/" title="">Positive Technologies</a></h3>

              <p></p>
            </div>

            <div class="work-experience">
              <small class="date">Jan 2022 - In progress</small>
              <h3 class="h5 date-title">Senior System Analyst - <a href="https://secgen.com" title="">SecurityGen</a></h3>

              <p><b>Business:</b> Telecommunications domain</p>
              <p>Work with the international distributed team</p>
              <p>Participate in all phases of the project, starting from discovery to User acceptance testing and production</p>
              <p>Elaborate stakeholders requirements, create artifacts (FR, NFR, User Stories, diagrams, etc)</p>
              <p>Collaborate together with Solution Architects, UX experts, dev and QAs</p>
              <p>Provide clarification and act as a point of reference for requirement inquire by solution design and project delivery teams</p>
              <p>Support scrum team</p>
            </div>

          </div>
        </div>
        

        <div class="card">
          <div class="card-block">
            <h2>Education</h2>
            <div class="row">
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">2011-2015</small>
                  <h3 class="h5 date-title">BACHELOR, BUSINESS INFORMATICS</h3>
                  <p>The Higher School of Economics - Nizhny Novgorod</p>
                </div>
              </div>
            </div>


          </div>
        </div>

       <div class="card">
          <div class="card-block">
            <h2>Courses</h2>
            <div class="row">
              <div class="col-md-4">
                <img src="./static/assets/images/image 2.png" class="scale" alt="">
                <h3 class="h5"> Python: from zero to mastery</h3>
                <p>April 2022</p>
              </div>

              <div class="col-md-4">
                <img src="./static/assets/images/image 1.png" class="scale" alt="">
                <h3 class="h5">The Complete guide to Becoming a Software Architect</h3>
                <p>October 2019</p>
              </div>
              <div class="col-md-4">
                <img src="./static/assets/images/2022-04-06 15.10.png" class="scale" alt="">
                <h3 class="h5">BABOK 3.0</h3>
                <p>March 2017</p>
              </div>
            </div>
          </div>
        </div>
        
        <div class="card">
          <div class="card-block">
            <h2>Languages</h2>
            <div class="row">
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">English:   <small>Upper-Intermediate</small></h3>
                </div>
              </div>
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">French:   <small>Beginner</small></h3>
                </div>
              </div>
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">Russian:   <small>Native</small></h3>
                </div>
              </div>
            </div>
          </div>
        </div>


      <div class="card">
          <div class="card-block">
            <h2>Skills</h2>
            <div class="row">
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">MS Office </h3>
                </div>
              </div>
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">Python</h3>
                </div>
              </div>
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">UML</h3>
                </div>
              </div>

              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">BPMN</h3>
                </div>
              </div>

              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">SQL</h3>
                </div>
              </div>

              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">Requirements analysis</h3>
                </div>
              </div>

              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">Business analysis</h3>
                </div>
              </div>

              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">UX prototyping</h3>
                </div>
              </div>

            </div>
          </div>
        </div>

       
     </div>
   </div>
 </div>

</main>
<footer class="footer-container white-text-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p><img src="./static/assets/images/mashup-icon.svg" alt=""></p>
        
        <p>©All right reserved. Design <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
        <p>
        <a class="fa-icon fa-icon-2x" href="https://t.me/ankomissarova" title="">
          <i class="fa fa-telegram"></i>
        </a>

        <a class="fa-icon fa-icon-2x" href="https://www.linkedin.com/in/anastasia-komissarova-5837a111b" title="">
          <i class="fa fa-linkedin"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://github.com/aekomissarova" title="">
          <i class="fa fa-github"></i>
        </a>
      </p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     scrollRevelation('.card');
  });
</script>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>


</html>